<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Cliente</title>
    <link th:href="@{/client.css}" rel="stylesheet">
    <link rel="stylesheet" href="/src/main/resources/static/index.css">
</head>
<body>
<header>
    <div class="logo-container">
        <img th:src="@{/images/logo.svg}" alt="Logo" class="logo">
    </div>
    <a class="login-button" th:href="@{/logout}">Cerrar Sesión</a>
</header>

<main class="admin-panel">
    <div class="flex-container">
        <section class="project-list">
            <h3 th:text="'Hola, ' + ${nombreUsuario} + '! ¿Listo para ver tus proyectos?'"></h3>

            <h2>Proyectos</h2>
            <ul>
                <li th:each="phu : ${proyectosDeUsuario}"
                    th:data-project-id="${phu.proyectoIdproyecto.id}"
                    th:text="${phu.proyectoIdproyecto.nombre}"
                    class="project-item">
                    <!-- Nombre del proyecto mostrado y el ID del proyecto guardado en el atributo data -->
                </li>
            </ul>
        </section>

        <!-- Sección de Ver Tareas -->
        <section id="projectDetails" class="project-details hidden">
            <h2>Proyecto <span id="projectTitle">Nombre del proyecto</span></h2>

            <!-- Botón para mostrar el formulario de valoración -->
            <button id="addRatingBtn">Valorar Tareas</button>

            <!-- Botón para mostrar las tareas del proyecto -->
            <button id="viewTasksBtn">Ver Tareas</button>

            <!-- Formulario para valorar tareas -->
            <form th:action="@{/client/addRating}" method="post" id="ratingForm" class="hidden">
                <h3>Valorar Tareas</h3>
                <label>Selecciona una Tarea:</label>
                <select name="tareaId" id="taskSelect" required>
                    <option value="" selected>Tareas</option>
                    <option th:each="tarea : ${tareas}" th:value="${tarea.id}" th:data-project-id="${tarea.proyectoIdproyecto.id}" th:text="${tarea.nombre}"></option>
                </select>

                <label>Valoración:</label>
                <input type="text" name="valoracion" id="valoracionInput" placeholder="Introduce un valor del 0 al 5">

                <button type="submit">Enviar Valoración</button>
            </form>

            <div id="taskList" class="hidden">
                <h3>Tareas</h3>
                <ul id="taskItems">
                    <li th:each="tarea : ${tareas}" th:data-project-id="${tarea.proyectoIdproyecto.id}" th:text="${tarea.nombre}"></li>
                </ul>
            </div>
        </section>

    </div>
</main>

<script th:src="@{/client.js}"></script>
<script src="/src/main/resources/static/admin.js"></script>
</body>
</html>
