<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Proyecto</title>
    <link th:href="@{/create.css}" rel="stylesheet">
</head>
<body>
<header>
    <!-- Enlace con el SVG para regresar a /admin -->
    <a th:href="@{/admin}" class="back-button">
        <img th:src="@{/images/flecha.svg}" alt="Back" class="back-svg">
    </a>
    <h1>Crear un nuevo proyecto</h1>
</header>

<main>
    <section>
        <h2>Nuevo Proyecto</h2>
        <form th:action="@{/create}" method="post">
            <label for="nombre">Nombre del proyecto:</label>
            <input type="text" id="nombre" name="nombre" required>

            <label for="presupuesto">Peso máximo de tareas (Presupuesto):</label>
            <input type="number" id="presupuesto" name="pesoMaximoTareas" required>

            <button type="submit">Crear Proyecto</button>
        </form>
    </section>
</main>
</body>
</html>
