<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProTask</title>
    <link th:href="@{/index.css}" rel="stylesheet">
</head>
<body>

<header>
    <div class="logo-container">
        <img th:src="@{/images/logo.svg}" alt="Logo" class="logo">
    </div>
    <a class="login-button" th:href="@{/login}">Iniciar Sesión</a>
</header>

    <div class="intro">
        <div class="introbg">
        <div class="content">
            <h2>GESTIÓN DE PROYECTOS FÁCIL Y RÁPIDA</h2>
            <p>Accede a todas las herramientas necesarias para gestionar tus proyectos de manera eficiente y organizada.</p>
            <a th:href="@{/login}">
                <button>Comenzar Ahora</button>
            </a>
        </div>
        </div>
    </div>

<main>

    <div>
        <h2>Principales Características</h2>
        <ul>
            <li>Organización clara de proyectos y tareas</li>
            <li>Colaboración en tiempo real</li>
            <li>Seguimiento de presupuestos y recursos</li>
            <li>Seguridad y acceso personalizado</li>
        </ul>
    </div>

    <div>
        <h2>¿Por qué Elegirnos?</h2>
        <ul>
            <li>Interfaz moderna y fácil de usar</li>
            <li>Actualizaciones constantes</li>
            <li>Soporte 24/7</li>
            <li>Alta seguridad en la gestión de datos</li>
        </ul>
    </div>
</main>
</body>
</html>
